.checkbox {
    width: 50px;
}

p {
    width: 120px;
    margin: 30px;
    background: #c4fdc7;
    border: 2px solid #2f7807;

}

.block1 {
    display: inline-block;
    width: 200px;
    height: 200px;
    background: #0d1fee;
    border: 2px solid #1ed208;
    min-height: 40px;
    margin: 10px;
}

.block2 {
    display: inline-block;
    width: 200px;
    height: 200px;
    background: #0d1fee;
    border: 2px solid #1ed208;
    min-height: 40px;
    margin: 10px;
}

.block3 {
    display: inline-block;
    width: 200px;
    height: 200px;
    background: #0d1fee;
    border: 2px solid #1ed208;
    min-height: 40px;
    margin: 10px;
}